h1 {
  color: white;
  padding: 20px 20px 20px 20px;
  /*background-color: blue;*/
  grid-column: span 3;
  font-style: italic;
  font-family: helvetica;

}

a:hover h1 {
  color: green;
}

h2 {
  color: blue;
  font-family: helvetica;
  grid-column: span 1;
  border-bottom: 2px solid blue;
  padding: 0px 20px 20px 20px;
}

#wrapper {
margin: 1em auto;
padding: 0px;
width: 900px;
border: 1px solid #ff0000;
/* display: grid; */
grid-template-columns: 1fr 1fr 1fr;
background-color: white;
}
nav {
  background-color: blue;
}
nav ul {
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline-block;
  width: 200px;
}

nav li a {
  display: block;
  background-color: blue;
  border: 1px solid black;
  padding: 1em;
  color: white;
  text-decoration: none;
  margin: 1em 1 0 1;
}

li a:hover {
  background-color: #cb343f;
  color: green;
}

body {
background-color: grey;

}
